html,
body {
    margin: 0;
    overflow: scroll;
    height: 100%;
    font-family: Verdana, Arial, Sans-serif;
}
svg {
    width: 2480px;
    height: 1748px;
}
line {
    stroke-width: 3px;
    stroke: red;
}
